.App {
  text-align: center;
}

header {
  display: block;
}

.App-header{
  color: #fff;
  font-style: oblique;
  background-color: #254e70;
  padding: 2rem 0;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-control {
  display: flex;
  align-items: baseline;
  column-gap: 6em;
}

.videos{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.video-container{
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.8rem;
  align-items:center;
  margin: 1rem;
  width: 19rem;
  height: fit-content;
  max-height: 25rem;
}

.video-container > p {
  margin: 0;
}

button{
  background-color: white;
  border: none;
}

.control-container {
  display: flex;
  align-items: baseline;
  column-gap: 1rem;
}

.vote-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
  align-items: center;
  margin: 0 0 1rem 0;
  column-gap: 0.1rem;
}

.vote-container > p{
  padding: 0;
  margin: 0;
}

.data-container p {
  margin: -0.8rem 0 0 0;
  padding: 0;
}