.form-label {
  font-size: 20px;
}

.add-video-modal-btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #4d864e;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 1rem !important;
  font-size: 16px;
}

.add-video-modal-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #11bc6c,
    #8fff00,
    #18ff8f,
    #18dbff,
    #18ff68,
    #18dbff,
    #18ff8f,
    #8fff00,
    #11bc6c
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-add-video-modal-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-add-video-modal-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.add-video-modal-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4d864e;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.close-video-modal-btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #d23535;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 1rem !important;
  font-size: 16px;
}

.close-video-modal-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff1212,
    #ff7700,
    #ff05bf,
    #ff8718,
    #ff2a18,
    #ff8718,
    #ff05bf,
    #ff7700,
    #ff1212
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-close-video-modal-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-close-video-modal-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.close-video-modal-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d23535;
  left: 0;
  top: 0;
  border-radius: 10px;
}